{% extends "base.html.twig" %}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
		<center>
   	  		<img id="image_profil" src="images/Alderiate.jpg" class="img-fluid" alt="...">
		</center>
    </div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Modifier</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form action="index.php?page=inscrire" method="post" enctype="application/x-www-formurlencoded">
						{# -----Email----- #}
					<div class="form-group">
						<label for="email" class="sr-only">Email</label>
						<input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
					</div>
						{# -----Mot de passe 1----- #}
					<div class="form-group">
						<label for="password" class="sr-only">Mot de passe</label>
						<input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required>
					</div>
						{# -----Mot de passe 2----- #}
					<div class="form-group">
						<label for="password2" class="sr-only">Confirmer le mot de passe</label>
						<input type="password" id="password2" name="password2" class="form-control" placeholder="Mot de passe" required>
					</div>
						{# -----Numéro de téléphone----- #}
					<div class="form-group">
						<label for="telephone" class="sr-only">Numéro de téléphone</label>
						<input type="number" id="telephone" name="telephone" class="form-control" placeholder="Numéro de téléphone" required>
					</div>
						{# -----Adresse----- #}
					<div class="form-group">
						<label for="inputPassword2" class="sr-only">Adresse</label>
						<input type="text" id="adresse" name="adresse" class="form-control" placeholder="Adresse" required>
					</div>
						{# -----Code postal----- #}
					<div class="form-group">
						<label for="inputPassword2" class="sr-only">Code postal</label>
						<input type="text" id="codePostal" name="codePostal" class="form-control" placeholder="Code postal" required>
					</div>
						{# -----Pays----- #}
					<div class="form-group">
						<label for="inputPassword2" class="sr-only">Pays</label>
						<input type="text" id="pays" name="pays" class="form-control" placeholder="Pays" required>
					</div>
						{# -----Photo----- #}
					<div class="form-group">
						<label for="inputPassword2" class="sr-only">Photo.</label>
						<input type="file" name="inputphoto" id="inputphoto" class="form-control"/>
					</div>
				</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
			<button type="button" class="btn btn-primary">Sauvegarder</button>
		</div>
		</div>
	</div>
	</div>
    <div class="col">
    	<div id="block_profil">
			<center>
				<form class="mx-auto">
					<div class="form-group">
						<h1>Votre profil</h1>
							<form action="index.php?page=inscrire" method="post" enctype="application/x-www-formurlencoded">
									{# -----Email----- #}
								<div class="form-group" id="formulaires_profil">
									<fieldset disabled="">
										<label class="form-label" for="disabledInput">Email</label>
										<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
									</fieldset>
								</div> 
									{# -----Mot de passe ----- #}
								<div class="form-group" id="formulaires_profil">
									<fieldset disabled="">
										<label class="form-label" for="disabledInput">Mot de passe</label>
										<input class="form-control" id="disabledInput" type="text" placeholder="**********" disabled="">
									</fieldset>
								</div> 
									{# -----Numéro de téléphone----- #}
								<div class="form-group" id="formulaires_profil">
									<fieldset disabled="">
										<label class="form-label" for="disabledInput">Numéro de téléphone</label>
										<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
									</fieldset>
								</div> 
									{# -----Adresse----- #}
								<div class="form-group" id="formulaires_profil">
									<fieldset disabled="">
										<label class="form-label" for="disabledInput">Adresse</label>
										<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
									</fieldset>
								</div>  
									{# -----Code postal----- #}
								<div class="form-group" id="formulaires_profil">
									<fieldset disabled="">
										<label class="form-label" for="disabledInput">Code postal</label>
										<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
									</fieldset>
								</div> 
									{# -----Pays----- #}
								<div class="form-group" id="formulaires_profil">
									<fieldset disabled="">
										<label class="form-label" for="disabledInput">Pays</label>
										<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
									</fieldset>
								</div> 
									{# -----Permis----- #}
								<div class="form-group" id="formulaires_profil">
									<fieldset disabled="">
										<label class="form-label" for="disabledInput">Permis</label>
										<input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
									</fieldset>
								</div>
									{# -----bouton du modal----- #}
								<button id="bouton" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  									Modifier votre profil
								</button>
							</form>
						</div>
					</div>
				</form>
			</center>
		</div>
    </div>
{% endblock %}