{% extends "base.html.twig" %}

{% block title %} Maintenance {% endblock %}

{% block body %} 
<center>
    <h1>Une maintenance est en cours.</h1>
        désolé de la gène occasionné
</center>
 {% endblock %}
